<div class="table-responsive">
	<table class="table table-striped">
		<tbody>
			<tr>
				<td>Contact</td>
				<td>{{contact.firstName}} {{contact.lastName}}</td>
			</tr>
			<tr>
				<td>Company</td>
				<td>{{contact.company}}</td>
			</tr>
				<td>Phone</td>
				<td>{{contact.phone}}</td>
			<tr>
				<td>Address</td>
				<td>{{contact.address}}</td>
			</tr>
			<tr>
				<td>Birthday</td>
				<td>{{contact.birthday}}</td>
			</tr>
			<tr>
				<td>Email</td>
				<td>{{contact.email}}</td>
			</tr>
			<tr>
				<td>Notes</td>
				<td>{{contact.notes}}</td>
			</tr>
		</tbody>
	</table>
</div>