<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Coolest Contacts App</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Dashboard</a></li>
						<li><a href="#">Settings</a></li>
						<li><a href="#">Profile</a></li>
						<li><a href ng-click="logout()">Logout</a></li>
					</ul>
					<form class="navbar-form navbar-right">
						<input type="text" class="form-control" placeholder="Search...">
					</form>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar">
					<ul class="nav nav-sidebar">
						<li class="active"><a href="#">Overview</a></li>
						<li><a href="#">Reports</a></li>
						<li><a href="#">Analytics</a></li>
						<li><a href="#">Export</a></li>
					</ul>
					<ul class="nav nav-sidebar">
						<li><a href="">Nav item</a></li>
						<li><a href="">Nav item again</a></li>
						<li><a href="">One more nav</a></li>
						<li><a href="">Another nav item</a></li>
						<li><a href="">More navigation</a></li>
					</ul>
					<ul class="nav nav-sidebar">
						<li><a href="">Nav item again</a></li>
						<li><a href="">One more nav</a></li>
						<li><a href="">Another nav item</a></li>
					</ul>
				</div>
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
					<h1 class="page-header">Hello {{user}}</h1>

					<div class="alert alert-info" role="alert" ng-show="flash.getMessage()">
						<p>{{flash.getMessage()}}</p>
					</div>
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Contact</th>
									<th>Company</th>
									<th>Phone</th>
									<th>Address</th>
									<th>Birthday</th>
									<th>Notes</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="contact in contacts | orderBy:'lastName'">
									<td>{{contact.firstName}} {{contact.lastName}}</td>
									<td>{{contact.company}}</td>
									<td>{{contact.phone}}</td>
									<td>{{contact.address}}</td>
									<td>{{contact.birthday}}</td>
									<td>{{contact.notes}}</td>
									<td><a href>Edit</a></td>
								</tr>
							</tbody>
						</table>
					</div>
					<a ng-if="!$state.includes('home.add')" href="/add" class="btn btn-primary">Add</a>
					<div ng-if="$state.includes('home.add')">
						<form ng-submit="addContact()">
							<div class="row">
								<label class="col-sm-2 control-label">First name:</label>
								<div class="col-sm-3">
									<input ng-model="newContact.firstName" type="text" class="form-control" placeholder="">
								</div>
								<label class="col-sm-2 control-label">Last name:</label>
								<div class="col-sm-3">
									<input ng-model="newContact.lastName" type="text" class="form-control" placeholder="">
								</div>
							</div>
							<div class="row">
								<label class="col-sm-2 control-label">Company:</label>
								<div class="col-sm-3">
									<input ng-model="newContact.company" type="text" class="form-control" placeholder="">
								</div>
								<label class="col-sm-2 control-label">Phone:</label>
								<div class="col-sm-3">
									<input ng-model="newContact.phone" type="text" class="form-control" placeholder="">
								</div>
							</div>
							<div class="row">
								<label class="col-sm-2 control-label">Address:</label>
								<div class="col-sm-3">
									<input ng-model="newContact.address" type="text" class="form-control" placeholder="">
								</div>
								<label class="col-sm-2 control-label">Birthday:</label>
								<div class="col-sm-3">
									<input ng-model="newContact.birthday" type="text" class="form-control" placeholder="">
								</div>
							</div>
							<div class="row">
								<label ng-model="newContact.email" class="col-sm-2 control-label">Email:</label>
								<div class="col-sm-3">
									<input type="text" class="form-control" placeholder="">
								</div>
								<label class="col-sm-2 control-label">Notes:</label>
								<div class="col-sm-3">
									<input ng-model="newContact.notes" type="text" class="form-control" placeholder="">
								</div>
							</div>
							<hr />
							<div class="row">
								<div class="col-md-3 col-md-offset-7">
									<button class="btn btn-primary" type="submit">Add Contact</button>
									<a href="/" class="btn btn-danger">Cancel</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
