<!DOCTYPE html>
<html lang="en" ng-app="contactsApp">
<head>
	<meta charset="UTF-8">
	<title>Contacts app</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/dist/css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
	<script src="{{ url_for('static', filename='vendor/jquery/dist/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/angular/angular.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/angular-ui-router/release/angular-ui-router.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/app.js') }}"></script>
	<script src="{{ url_for('static', filename='js/controllers.js') }}"></script>
	<script src="{{ url_for('static', filename='js/services.js') }}"></script>
</head>
<body ui-view></body>
</html>